
.profilepic {
  float: center;
  margin: 0 auto;
  padding-left: 580px;

}
.container {


  width: auto;
  height: auto;
}

.top-panel {
  width:auto;
  height:600px;
  margin: 0 auto;
  background-color: grey;

  border-color: black;

  font-family: sans-serif;
  font-size: 12px;
  font-weight: 900;

}

.middle-panel {
  width: auto;
  height: 600px;
  margin: 0 auto;
  background-color: #005ba2;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 900;
  }

.bottom-panel {
  width: auto;
  height: 200px;
  margin: 0 auto;
  background-color: #005ba2;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 900;
  }
