body {
  background-image: url(../images/page.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.container {
  width: 600px;
  margin: 0 auto;
  background-color: red;
  float: right;

.right-panel {

}

.bottom-panel {

}
