p {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}
.profilepic {
  float: center;
  margin: 0 auto;
  padding-left: 10px;
}
.container {
  width: 100%;
  height: auto;
  background-color: grey;
}
.top-panel {
  width:auto;
  height:100%;
  margin: 0 auto;
  background-color:
  padding-left: 40px;
  border-color: black;
}
.middle-panel {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: red;
  color: white;
  font-family: sans-serif;
}
.bottom-panel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
